# Исключаем виртуальное окружение
../.venv/
venv/

.env
*.env

db.sqlite3
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd

*.log

staticfiles/
static/

**/migrations/*.pyc
**/migrations/*.py

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db
